<template>
  <div class="">
    <div class="m-b-2">
      <router-link :to="{name: 'create-task'}" class="btn btn-primary">Create</router-link>
    </div>

    <table class="table table-hover">
             <thead>
             <tr>
                 <th>ID</th>
                 <th>Task Name</th>
                 <th>Task Details</th>
                 <th>Actions</th>
             </tr>
             </thead>
             <tbody>
                 <tr v-for="task in tasks" :key="task.id">
                     <td>{{ task.id }}</td>
                     <td>{{ task.title }}</td>
                     <td>{{ task.body }}</td>
                     <td>
                      <router-link :to="{name: 'edit', params: { id: task.id }}" class="btn btn-primary">Edit</router-link>
                      <button class="btn btn-success" @click.prevent="completeTask(task.id)">Complete</button>
                      <button class="btn btn-danger" @click.prevent="deleteTask(task.id)">Delete</button>
                      <select   @change="onChange($event,task.id)" >
                        <option v-for="user in users" :value="user.id">{{user.name}}</option>
                      </select>
                    </td>
                 </tr>
             </tbody>
         </table>
  </div>

</template>

<script>
export default {
     data() {
       return {
         tasks: [],
         users:[]
       }
     },
     created() {
     let uri = 'http://localhost:8000/api/all-tasks';
     this.axios.get(uri).then(response => {
       this.tasks = response.data.data['tasks'];
       this.users= response.data.data['users'];
     });
   },
   methods: {
     deleteTask(id)
     {
       let uri = `http://localhost:8000/api/task/delete/${id}`;
       this.axios.delete(uri).then(response => {
         this.tasks.splice(this.tasks.indexOf(id), 1);
       });
     },
     completeTask(id){
       let uri = `http://localhost:8000/api/task/complete/${id}`;
       this.axios.put(uri).then(response => {
          this.tasks.splice(this.tasks.indexOf(id), 1);
       });
     },
     onChange(event,id) {
            let user_id=event.target.value;
            let uri = `http://localhost:8000/api/task/shareWith/${id}/${user_id}`;
           
            this.axios.post(uri).then(response => {
               this.tasks.splice(this.tasks.indexOf(id), 1);
            });
        }
   }
 }
</script>

<style lang="css" scoped>
.m-b-2{
  margin-bottom: 20px;
}
select {
    word-wrap: normal;
    height: 34px;
    border-color: #ddd;
    border-radius: 4px;
}
</style>
