<template>
  <div>
    <h1>Edit Post</h1>
    <form @submit.prevent="updateTask">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Task Title:</label>
            <input type="text" class="form-control" v-model="task.title">
          </div>
        </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Task Body:</label>
              <textarea class="form-control" v-model="task.body" rows="5"></textarea>
            </div>
          </div>
        </div><br />
        <div class="form-group">
          <button class="btn btn-primary">Update</button>
        </div>
    </form>
  </div>
</template>


<script>
export default {

     data() {
       return {
         task: {}
       }
     },
     created() {
       let uri = `http://localhost:8000/api/task/${this.$route.params.id}`;
       this.axios.get(uri).then((response) => {
           this.task = response.data.data;
           console.log(this.task);
       });
     },
     methods: {
       updateTask() {
         let uri = `http://localhost:8000/api/task/update/${this.$route.params.id}`;
         this.axios.post(uri, this.task).then((response) => {
           this.$router.push({name: 'all-task'});
         });
       }
     }
   }
</script>

<style lang="css" scoped>
</style>
