<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
            
            </div>
        </div>
    </div>
</template>

<script>
    export default {

    }
</script>
<style>
    .fade-enter-active, .fade-leave-active {
      transition: opacity .5s
    }
    .fade-enter, .fade-leave-active {
      opacity: 0
    }
</style>
